<?xml version="1.0" encoding="utf-8"?>
<Cube>
  <!--调试-->
  <Debug>true</Debug>
  <!--显示运行时间-->
  <ShowRunTime>true</ShowRunTime>
  <!--扩展插件服务器。将从该网页上根据关键字分析链接并下载插件-->
  <PluginServer>http://x.newlifex.com/</PluginServer>
  <!--强制SSL。强制使用https访问-->
  <SslMode>Disable</SslMode>
  <!--启用压缩。主要用于Json输出压缩，默认false-->
  <EnableCompress>false</EnableCompress>
  <!--头像目录。设定后下载远程头像到本地，默认Avatars子目录，web上一级Avatars。清空表示不抓取-->
  <AvatarPath>..\Avatars</AvatarPath>
  <!--上传目录。默认Uploads-->
  <UploadPath>Uploads</UploadPath>
  <!--静态资源目录。默认wwwroot-->
  <WebRootPath>wwwroot</WebRootPath>
  <!--分享有效期。分享令牌的有效期，默认7200秒-->
  <ShareExpire>7200</ShareExpire>
  <!--默认角色。默认普通用户-->
  <DefaultRole>普通用户</DefaultRole>
  <!--允许密码登录。允许输入用户名密码进行登录-->
  <AllowLogin>true</AllowLogin>
  <!--允许注册。允许输入用户名密码进行注册-->
  <AllowRegister>true</AllowRegister>
  <!--自动注册。SSO登录后，如果本地未登录，自动注册新用户-->
  <AutoRegister>true</AutoRegister>
  <!--强行绑定用户名。根据SSO用户名强制绑定本地同名用户，而不需要增加提供者前缀，一般用于用户中心-->
  <ForceBindUser>true</ForceBindUser>
  <!--绑定用户代码。根据SSO用户代码强制绑定本地用户-->
  <ForceBindUserCode>false</ForceBindUserCode>
  <!--绑定用户手机。根据SSO用户手机强制绑定本地用户-->
  <ForceBindUserMobile>false</ForceBindUserMobile>
  <!--绑定用户邮箱。根据SSO用户邮箱强制绑定本地用户-->
  <ForceBindUserMail>false</ForceBindUserMail>
  <!--使用Sso角色。SSO登录后继续使用SSO角色，默认true；否则使用DefaultRole-->
  <UseSsoRole>true</UseSsoRole>
  <!--注销所有系统。默认false仅注销本系统，true时注销SsoServer-->
  <LogoutAll>false</LogoutAll>
  <!--会话超时。单点登录后会话超时时间，该时间内可借助Cookie登录，默认0s-->
  <SessionTimeout>0</SessionTimeout>
  <!--刷新用户周期。该周期内多次SSO登录只拉取一次用户信息，默认600秒-->
  <RefreshUserPeriod>600</RefreshUserPeriod>
  <!--JWT密钥。用于生成JWT令牌的算法和密钥，如HS256:ABCD1234-->
  <JwtSecret>HS256:MAL4Sm2yzn1lYCg0</JwtSecret>
  <!--工作台页面。进入后台的第一个内容页-->
  <StartPage>/Admin/Index/Main</StartPage>
  <!--布局页。-->
  <Layout>~/Views/Shared/_Ace_Layout.cshtml</Layout>
  <!--登录提示。留空表示不显示登录提示信息-->
  <LoginTip></LoginTip>
  <!--表单组样式。大中小屏幕分别3/2/1列-->
  <FormGroupClass>form-group col-xs-12 col-sm-6 col-lg-4</FormGroupClass>
  <!--下拉选择框。使用Bootstrap，美观，但有呈现方面的性能损耗-->
  <BootstrapSelect>true</BootstrapSelect>
  <!--最大下拉个数。表单页关联下拉列表最大允许个数，默认50，超过时显示文本数字框-->
  <MaxDropDownList>50</MaxDropDownList>
  <!--版权。留空表示不显示版权信息-->
  <Copyright>©2002-2020 NewLife</Copyright>
  <!--备案号。留空表示不显示备案信息-->
  <Registration>沪ICP备10000000号</Registration>
</Cube>