{
    "Name": "XCode数据缓存，用于加速各实体类启动",
    "Counts": {
        "Membership_Parameter_Parameter": 1,
        "Membership_Department_Department": 7,
        "Conn_Orders_Orders": 11,
        "Conn_Category_Category": 6,
        "Membership_User_User": 1,
        "Conn_Notice_Notice": 0,
        "Log_Log_Log": 101,
        "Membership_Role_Role": 4,
        "Cube_Attachment_Attachment": 0,
        "Conn_Goods_Goods": 2
    },
    "FieldCache": {
        "Log_Action": {
            "修改": "修改 (51)",
            "添加": "添加 (49)",
            "登录": "登录 (1)"
        },
        "Log_Category": {
            "菜单": "菜单 (80)",
            "角色": "角色 (18)",
            "用户": "用户 (3)"
        }
    }
}