<?xml version="1.0" encoding="utf-8"?>
<Sys>
  <!--用于标识系统的英文名-->
  <Name>NewLife.Cube</Name>
  <!--系统版本-->
  <Version>3.7.7550.795</Version>
  <!--用户可见的名称-->
  <DisplayName>魔方平台</DisplayName>
  <!--公司-->
  <Company>新生命开发团队</Company>
  <!--应用实例。单应用多实例部署时用于唯一标识实例节点-->
  <Instance>7271</Instance>
  <!--开发者模式-->
  <Develop>true</Develop>
  <!--启用-->
  <Enable>true</Enable>
  <!--安装时间-->
  <InstallTime>2020-11-25 22:30:13</InstallTime>
</Sys>