﻿﻿
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>
        24小时抖音业务自助下单系统-在线下单粉丝点赞上热门
    </title>

    <link href="~/Content/assets/plugins.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/assets/css/main.css">
    <link rel="stylesheet" href="~/Content/assets/css/oneui.css">
    <link rel="stylesheet" href="~/Content/assets/css/common.css?ver=2024">
    <!--[if lt IE 9]>
      <script src="html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        ion: fixed;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        top: 0;
        left: 0; background-position: center 0%;
        height: 100%; background-image: url(assets/img/bj.png);background-attachment: fixed;
        }

        img.logo {
            width: 14px;
            height: 14px;
            margin: 0 5px 0 3px;
        }

        .onclick {
            cursor: pointer;
            touch-action: manipulation;
        }

        .giftlist {
            overflow: hidden;
            width: 90%;
            margin: 0 auto
        }

            .giftlist ul {
                height: 270px;
                overflow: hidden;
                padding: 0
            }

            .giftlist li {
                width: 100%;
                line-height: 35px;
                padding: 0 10px;
                overflow: hidden;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box
            }

                .giftlist li strong {
                    margin: 0 5px 0 0;
                    font-weight: 400;
                    color: #1977d8
                }

        @@media (min-width: 768px) oneui.css:1048 .col-sm-10 {
            width: 95%;
        }
    </style>
    @RenderSection("header", false)
</head>
<body>
    <br />
    @RenderBody()
    <!--div class="panel panel-info" style="display:none;">
    <div class="panel-heading" style="background: linear-gradient(to right,#14b7ff,#5ccdde,#b221ff);"><font color="#000000"><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;</font></td>
    <tbody>
    </table>
    </div-->
    <!--关于我们弹窗-->
    <!--底部导航-->
    <!--div class="panel panel-info" >
    <div class="panel-heading" style="background: linear-gradient(to right,#b221ff,#14b7ff,#8ae68a);"><font color="#000000"><i class="fa fa-skyatlas"></i>&nbsp;&nbsp;<b>站点工具</b></font></h3></div>
    <div class="">
        </div>
            <style>
                     .elevator_item .hd-time-limited {
        display: block;
        position: fixed;
        right: 0;
        bottom: 445px;
        width: 40px;
        height: 140px;
        background-color: skyblue;
    } .elevator_item {
        position: fixed;
        right: 0;
        bottom: 95px;
        z-index: 11;
    }
    .elevator_item .feedback {
        width: 36px;
        height: 41px;
        font-size: 12px;
        padding: 5px 6px;
        display: block;
        border-radius: 5px;
        text-align: center;
        margin-top: 10px;
        box-shadow: 0 1px 2px rgba(0,0,0,.35);
        cursor: pointer;
    }
    .graHover {
        position: relative;
        overflow: hidden;
    }
      </style>  <div class="elevator_item" id="elevator_item" style="display:block;">
       <a target="_self" class="feedback graHover" style="background-color: #fa3c63;color:#fff" href="/?cid=1" rel="nofollow">抖音套餐</a>
    <a target="_self" class="feedback graHover" id="sign_daily" style="background-color: #ffd900;color:#383838;" rel="nofollow" href="/?cid=11">抖音真人</a> <a target="_self" class="feedback graHover" style="background-color: #AF3A9F;color:#fff;" href="/?cid=2" rel="nofollow">抖音特价</a> <a target="_self" class="feedback graHover" style="background-color: #1e6be3;color:#fff;" href="/?cid=9" rel="nofollow">抖音直播</a>

    <a target="_self" class="feedback graHover" style="background-color: #3cbdfa;color:#fff;" href="/?cid=10" rel="nofollow">快手套餐</a> <a target="_self" class="feedback graHover" style="background-color: #06C17E;color:#fff" href="/?cid=12" rel="nofollow">快手真人</a> <a target="_self" class="feedback graHover" style="background-color: #ffa500;color:#fff;" href="/?cid=4" rel="nofollow">快手特价</a> <a target="_self" class="feedback graHover" style="background-color: #fa3c63;color:#fff" href="/?cid=3" rel="nofollow">快手直播</a><a target="_self" class="feedback graHover" style="background-color: #1e6be3;color:#fff;" href="/user/regsite.php" rel="nofollow">开通分站</a>
    </div>  <center>  <div class="panel-body"><span style="font-weight:bold">CopyRight <i class="fa fa-heart text-danger"></i> 2018 <a href="/">抖音业务网站-抖音热门</a> | </span><a class="" href="#about" data-toggle="modal"><span style="font-weight:bold">客服与帮助</span></a> | </span><a rel="external nofollow" class="http://www.miitbeian.gov.cn" href="http://www.miitbeian.gov.cn" data-toggle="modal"><span style="font-weight:bold">渝ICP备18004528号</span></a></center>
    </div>
    <!--底部导航-->
    <!--/div-->
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/layer/layer.js"></script>
    <script src="~/Content/assets/js/appui/app.js"></script>
    <script src="~/Content/assets/js/appui/plugins.js"></script>
    <script src="~/Content/assets/js/main.js?ver=2024"></script>
    <div id="cover"></div>
    <script>
        var isModal = false;
        var homepage = true;
    </script>
    @RenderSection("footer", false)
</body>
</html>